/*/
* {
 border: 1px dotted #AAE !important;
}
/**/

body {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 1px 1px 1px rgba(0,0,0,0.1) ;
  font-size: 16px;
}

h1,h2,h3,h4,h5 {
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0,0,0,0.2);
}

.navbar {
  background: transparent;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
}

.jumbotron {
  padding-top: 0px;
  padding-bottom: 10px;
  background: transparent;
}

.author-info a {
  text-decoration: none;
  color: #333333;

}

.author-image {
  width: 140px !important;
  height: 140px !important;
/*  max-widht: 140px !important;
  max-height: 140px;*/
}

.pager a {
  color: #333;
  margin: 0 10px 0 10px;
}

img {
  max-width: 100%;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0,0,0,0.2);
}

.post-tag {
  background: #DDD;
  border: #000;
  font-size: 0.9em;
  border-radius: 0 2px 2px 0;
  display: inline-block;
  font-weight: 600;
  height: 20px;
  left: 0;
  margin: 0 15px 10px 7px;
  padding: 0 5px 0 10px;
  position: relative;
  top: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 1px 1px 2px rgba(0,0,0,0.4);
}

.post-tag:before {
  border-bottom: 10px transparent solid;
  border-right: 7px #DDD solid;
  border-top: 10px transparent solid;
  content: '';
  height: 0;
  left: -7px;
  position: absolute;
  top: 0;
  width: 0;
  
}

/*
.post-tag {
  display: inline-block;
  background: #AAA;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
*/
.e404 {
  padding-top: 50px;
}

.e404 a {
  font-size: 1.5em;
}

.footer {
  font-size: 0.8em;
  margin-top: 60px;
  text-align: center;
}
.footer a {
  color: #AAA;
}
